@import "../../styles/variables.scss";

.saved-cities {
  height: 100%;

  &__header-text {
    text-align: center;
    padding: 1.3rem;
    color: $standart-grey-color;
  }

  &__list {
    padding: 0 100px 0 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;

    &-element {
      color: $standart-grey-color;
      height: 150px;
      min-width: 100px;
      margin: 10px;
      border: 1px solid $standart-grey-color;

      &-name {
        text-align: center;
        font-size: 1.5rem;
      }

      &-temp {
        text-align: center;
        font-size: 2.5rem;
      }

      & a {
        padding: 2rem;
        color: $standart-grey-color;
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
  }
}
