@import "../../styles/variables.scss";

.search-form__form {
  width: 500px;
  min-width: 100px;
  position: relative;
  display: flex;

  &-button {
    border: 1px solid $standart-grey-color;
    color: $standart-grey-color;
    width: 30px;
    background-color: transparent;
    margin-right: 4px;
    font-size: 1rem;
  }

  &-input {
    width: 100%;
    padding: 7px;
    border: 1px solid $standart-grey-color;
    font-size: 1rem;
  }

  &-suggestions {
    position: absolute;
    top: 100%;
    background-color: white;
    width: 100%;
    border: 1px solid $standart-grey-color;
    z-index: 1;
    max-height: 90vh;
    overflow: auto;

    & li {
      padding-left: 7px;

      &:hover {
        cursor: pointer;
        background-color: $standart-grey-color;
        color: #ffffff;
      }
    }
  }
}
