@import "../../styles/variables.scss";

.short-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-bottom: 1px solid $standart-grey-color;
  color: $standart-grey-color;
  position: relative;

  &__button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border: 3px solid $standart-grey-color;
    color: $standart-grey-color;
    background-color: transparent;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__main {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  &__name {
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  &__additional {
    display: flex;
    font-weight: 600;
    font-size: 1rem;
  }
}
